<a href="https://colab.research.google.com/github/qqdipps/coLab/blob/master/test_golf.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from sklearn import tree
import pandas as pd

In [3]:
#create empty data frame
golf_df = pd.DataFrame()

#add outlook
golf_df['Outlook'] = ['sunny', 'sunny', 'overcast', 'rainy', 'rainy', 'rainy', 
                     'overcast', 'sunny', 'sunny', 'rainy', 'sunny', 'overcast',
                     'overcast', 'rainy']

#add temperature
golf_df['Temperature'] = [92, 86, 83, 70, 60, 53, 62,
                         75, 57, 72, 78, 69, 81, 71]

#add humidity
golf_df['Humidity'] = [40.3, 63.1, 35.3, 86.3, 72.4, 22.7, 27.0,
                      80.7, 15.4, 25.1, 18.6, 58.3, 27.2, 39.3]

#add windy
golf_df['Windy'] = ['false', 'true', 'false', 'false', 'false', 'true', 'true',
                   'false', 'false', 'false', 'true', 'true', 'false', 'true']

#finally add play
golf_df['Play'] = ['no', 'no', 'yes', 'yes', 'yes', 'no', 'yes', 'no', 'yes', 'yes', 'yes', 
                  'yes', 'yes', 'no']

golf_df.head(5) # return number of n row

    Outlook  Temperature  Humidity  Windy Play
0     sunny           92      40.3  false   no
1     sunny           86      63.1   true   no
2  overcast           83      35.3  false  yes
3     rainy           70      86.3  false  yes
4     rainy           60      72.4  false  yes

PREPROCESSING DATA | creating object for descieion tree classifier

In [11]:
golf_one_hot = pd.get_dummies(golf_df[['Outlook', 'Windy','Temperature', 'Humidity']])  # get_dummies
golf_one_hot

,Temperature,Humidity,Outlook_overcast,Outlook_rainy,Outlook_sunny,Windy_false,Windy_true
0,92,40.3,0,0,1,1,0
1,86,63.1,0,0,1,0,1
2,83,35.3,1,0,0,1,0
3,70,86.3,0,1,0,1,0
4,60,72.4,0,1,0,1,0
5,53,22.7,0,1,0,0,1
6,62,27.0,1,0,0,0,1
7,75,80.7,0,0,1,1,0
8,57,15.4,0,0,1,1,0
9,72,25.1,0,1,0,1,0
10,78,18.6,0,0,1,0,1
11,69,58.3,1,0,0,0,1
12,81,27.2,1,0,0,1,0
13,71,39.3,0,1,0,0,1

In [12]:
clf = tree.DecisionTreeClassifier()
clf_train = clf.fit(golf_one_hot, golf_df['Play'])
print(tree.export_graphviz(clf_train, None))

digraph Tree {
node [shape=box] ;
0 [label="X[0] <= 84.5\ngini = 0.459\nsamples = 14\nvalue = [5, 9]"] ;
1 [label="X[0] <= 55.0\ngini = 0.375\nsamples = 12\nvalue = [3, 9]"] ;
0 -> 1 [labeldistance=2.5, labelangle=45, headlabel="True"] ;
2 [label="gini = 0.0\nsamples = 1\nvalue = [1, 0]"] ;
1 -> 2 ;
3 [label="X[1] <= 37.3\ngini = 0.298\nsamples = 11\nvalue = [2, 9]"] ;
1 -> 3 ;
4 [label="gini = 0.0\nsamples = 6\nvalue = [0, 6]"] ;
3 -> 4 ;
5 [label="X[0] <= 70.5\ngini = 0.48\nsamples = 5\nvalue = [2, 3]"] ;
3 -> 5 ;
6 [label="gini = 0.0\nsamples = 3\nvalue = [0, 3]"] ;
5 -> 6 ;
7 [label="gini = 0.0\nsamples = 2\nvalue = [2, 0]"] ;
5 -> 7 ;
8 [label="gini = 0.0\nsamples = 2\nvalue = [2, 0]"] ;
0 -> 8 [labeldistance=2.5, labelangle=-45, headlabel="False"] ;
}

In [21]:
# Running our prediction
# Temperature	Humidity	Outlook_overcast	Outlook_rainy	Outlook_sunny	Windy_false	Windy_true

prediction1 = clf_train.predict([[72, 15.3, 0, 0, 1, 0, 1]])
prediction2 = clf_train.predict([[43, 13.5, 0, 0, 1, 0, 1]])
print prediction1
prediction2

['yes']

array(['no'], dtype=object)